#thewindow{
    position:relative;
    width:330;
    height:300;
    overflow:hidden;
    border:2px solid red;
    background-image: url("images/stars.jpg");
}
#thetext{
    position:absolute;
    width:250;
    left:40;
    top:100;
}